.forgotPassword {
    height: 100vh;
    background-color: #f8f8f8;
    display: grid;
    place-items: center;
}

.forgotPassword__container {
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.forgotPassword__footer {
    padding-top: 40px;
}

.forgotPassword__container > img {
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
    border-radius: 999px;
    padding: 20px;
    background-color: #faeceb;
}

.forgotPassword__footer > p {
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 400;
    color: #696969;
    display: flex;
}

.forgotPassword__footer > p > a {
    padding-left: 4px;
    color: #545871;
    text-decoration: none;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .forgotPassword__container {
        padding: 20px;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}
